<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WSCUBE TECH Mentorship Program</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <p>Data Analytics Mentorship Program | Cohort-5 Learn from Industry Professionals | <b>Cohort Starting from 21st March 2025</b> <button>Apply Now</button></p>
        </div>
        <nav>
            <div class="logo">
                <img src="/static/image/ws-cube-white-logo.svg" alt="WSCUBE"> 
            </div>
            <div class="nav-links">
                <a href="#">Explore Courses</a>
                <a href="#">Career Schools</a>
            </div>
            <div class="login">
                <button id="loginButton" type="button">Login</button>
            </div>
        </nav>
    </header>

    <div id="overlay" class="overlay">
        <div id="overlay-wrapper"> <div id="overlay-content">
            
                </div>
        </div>
    </div>

    <section class="hero">
        
        <div class="hero-content">
            <h1>Don't Just Upskill, Get Career-ready, Get Hired</h1>
            <p>Top Mentorship Programs in Tech, Marketing, & Data- Designed and Delivered by industry maestros.</p>
            <div class="stats">
                <div class="stat">
                    <p>1.5 Lakh +</p>
                    <p>Aspirants Mentored</p>
                </div>
                <div class="stat">
                    <p>1700+</p>
                    <p>Cohorts Delivered</p>
                </div>
                <div class="stat">
                    <p>40+</p>
                    <p>Industry Mentors</p>
                </div>
            </div>
            <div class="buttons">
                <button>Explore Programs</button>
                <button>Book Mentor Session</button>
            </div>
        </div>
        <div class="hero-images">
            
        </div>
    </section>

    <section class="programs">
        <h2>Mentorship Programs</h2>
        <p>Choose your program, get certified, and grab new career opportunities.</p>
        <div class="program-buttons">
            <button class="active">Data Analytics</button>
            <button>Digital Marketing</button>
            <button>Web Development</button>
            <button>Cyber Security</button>
            <button>App Development</button>
        </div>
    </section>
    <script src="/static/logic/logic1.js"></script>
</body>
</html>