<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/skill.css">
</head>

<body>
    <div class="container">
        <div class="frame1">
            <img src="/static/image/ws-cube-white-logo.svg" alt="WSCUBE">
        </div>
        <div class="frame2">
            <div class="frame2a">
                <h2>Choose one of the skills you want to learn</h2>
            </div>
            <div class="frame2b">
                <div class="frame2b-1">
                    <div class="box1" onclick="window.location.href='/skills/web_base';">
                        <h3>Web development</h3>
                    </div>
                    <div class="box2" onclick="window.location.href='/skills/ml_base';">
                        <h3>ML</h3>
                    </div>
                    <div class="box3" onclick="window.location.href='/skills/python_base';">
                        <h3>Python</h3>
                    </div>
                </div>
                <div class="frame2b-2">
                    <div class="box4" onclick="window.location.href='/skills/full_base';">
                        <h3>Full Stack</h3>
                    </div>
                    <div class="box5" onclick="window.location.href='/skills/js_base';">
                        <h3>Javascript</h3>
                    </div>
                    <div class="box6" onclick="window.location.href='/skills/reactjs_base';">
                        <h3>Reactjs</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>