<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/base.css">
</head>
<body style="background-color: #4d4d4d;">
    <div class="container">
        <div class="frame1">
            <img src="/static/image/ws-cube-white-logo.svg" alt="WSCube">
            <button>&larr; Back</button>
        </div>
        <div class="frame2">
            <h2 style="color: black;">Your Roadmap</h2>
        </div>
        <div class="frame3">
            <div class="frame3a">{% include 'web-dev.html' %}</div>
            <div class="frame3b"><button  onclick="window.location.href='/skills/web_base/letsgoweb';">Start Learning</button></div>
        </div>
    </div>
</body>
</html>